

.order-info {
    padding: 20px 0;
    overflow: hidden;
}

.section {
    padding: 30px 48px;
    margin: 0 0 30px 0;
    background-color: #fff;
    color: #424242;
}
.section-order {
	padding-left: 183px;
    position: relative;
}
.order-info .title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
}
.order-info .post-info {
    color: #616161;
    transition: height .3s ease;
}
.icon-right {
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 60px;
    color: #83c44e;
    text-align: center;
    border: 2px solid #83c44e;
    border-radius: 42px;
    overflow: hidden;
}
.icon-right img{
	 width: 40px;
    height: 40px;
}
.cash-title {
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
}
.payment-box .payment-header {
    margin-bottom: 15px;
}
.payment-list {
    margin: 0 0 0 -14px;
    padding: 0;
    overflow: hidden;
    _zoom: 1;
}
.payment-list li {
    float: left;
    width: 174px;
    height: 60px;
    line-height: 60px;
    margin-left: 14px;
    margin-bottom: 14px;
    border: 1px solid #e0e0e0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    _zoom: 1;
    transition: all .4s;
}
.payment-list li input {
    display: none;
}

























